.carousel-item{
    height: 750px;
    background-color: #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .canvas{
    position :absolute;
   transform:scale(0.3125);
   left:-500px; 
   top:-350px; 
  }

  #file-input {
    display: none;
  }
  
  #file-input-label {
    font-size: 1.3em;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 4%;
  }